.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    flex-direction: row;
}

.cabecalho-imagem {
    width: 20%;
}
.cabecalho-lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}